* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    max-width: 900px;
    min-width: 600px;
    
    
}

.gallery figure {
    color: black;
    float: left;
    height: 200px;
    margin: 20px;
    text-align: center;
    width: 28%;
}
